* {
	box-sizing: border-box;
	margin: none;
	padding: none;
}

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}

.row {
	display: flex;
	background: blue;
	flex-flow: wrap;
	padding: 0.75em;
}

.column {
	flex: 50%;
}

.svgfile-signup {
	display: flex;
	width: 100%;
}
