* {
	box-sizing: border-box;
	margin: none;
	padding: none;
}

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}

.row {
	display: flex;
	flex-flow: wrap;
	padding: 0.75em;
}

.column {
	flex: 100%;
}

.svgfile-signup {
	display: flex;
	width: 100%;
	border-radius: 5px;
}

input {
	width: 100%;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: rgba(0, 0, 128, 0.462);
	color: white;
}

input:focus {
	background: white;
	border: 2px solid navy;
	color: black;
}

.terms {
	display: flex;
	margin: 4px;
}

input[type=checkbox] {
	width: 15px;
	margin-right: 10px;
	background-color: white;
	margin-left: -5px;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 128, 0.558);
}

div.button {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

button {
	display: block;
	background: navy;
	width: 300px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	color: white;
}

button:hover {
	background: rgba(0, 0, 128, 0.544);
}

@media screen and (min-width: 600px) {

	.row {
		display: flex;
		flex-flow: wrap;
		padding: 0.75em;
	}

	.column {
		flex: 50%;
	}

	.col {
		display: flex;
		flex-direction: column;
		align-items: right;
		justify-content: right;
	}

	div.button {
		display: flex;
		align-items: right;
		width: 100%;
		justify-content: right;
	}

	button {
		flex-basis: 50%;
	}
}

@media screen and (min-width: 800px) {

	.row {
		display: flex;
		flex-flow: wrap;
		padding: 0.75em;
	}

	.column {
		flex: 50%;
	}

	div.button {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: right;
	}
}