@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* - Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: hsl(230, 17%, 14%);
}

/* main */
.main{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}
/* dashboard navigation styling starts here  */
.side-nav{
    width: 14%;
    padding: 1px;
    align-items: center;
    position: fixed;
    background-color: #fff;
    color: hsl(232, 59%, 10%);
    height: 100vh;
    box-shadow: 1px 0 0 rgba(22,8,43,.1);
 
}
.material {
    font-size: 30px;
    display: none;
}
   
#close{
    position: relative;
    color: black;
   top: 2%;
   left: 90%;
   font-size: 30px;
   display: none;
    
}
#close:hover, #ham:hover{
    color: whitesmoke;
    cursor: pointer;

}
#ham{
    position: absolute;
    top: 3%;
    left: 1%;
    color: white;
    background-color:whitesmoke;
    border-radius: 25px;
    padding: 8px;
    display: none;
}
.user{
    
    margin-bottom: 50px;
    
}

.logo img{
    max-width: 100%;
}


nav{
    margin-bottom: 60px;
    text-align: left;
    padding-left: 16px;
}


nav ul {
    text-transform: uppercase;
    list-style-type: none;
}

nav ul li {
    padding: 20px 0;
    transition: 0.5s;
}

nav ul li a{
    text-decoration: none;
    color: hsl(232, 59%, 10%);
}


nav ul li:hover{
    transform: scale(1.1);
}

/* dashboard navigation styling ends here  */


/* items in the dashboard styling begins here  */
.dash-contents{
    width: 90%;
    background-color: hsl(230, 17%, 14%);
    
  
}


.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.2rem;
    grid-auto-rows: auto;
    margin: 5px 10px;
    padding-left:20%;
    
}
.settings{
    margin-left: 20%;
    width: 35%;
    background-color: cadetblue;
    height: 4em;
    border-radius: 100%;
    margin-top: -280%;
    margin-left: 690%;

}

/* this card is where the balance, profit and total balance is displayed  */
.card{
    background-color: #fff;
    text-align: center;
  
    border-radius: 6px;
    width: 300px;
    height: 130px;
    font-size: 25px;


    
}

.item-details{
    text-align: center;
    align-items: center;
    text-transform: capitalize;
  
    
   
}
.rowx {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
  }
  
  
  .columnx {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 3;
    padding: 0.75;
   
  }
.row {
    display: flex;
    flex-direction: row;
  }
  
  
  .column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 3;
    padding: 0em;
  }

.navitem{
    font-size: 15px;
    padding: 0.75em;
    font-weight: 900;
   
}
.item-value{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 6px;
    font-family: 'Space Mono', monospace;
}

.item-name{
    text-align: center;
}

.btns{
    text-align: center;
  
}
.btns button{
    width: 200px;
    margin: 6px;
    padding: 1px;
    text-align: center;
    text-transform: capitalize;
    background-color: hsl(232, 71%, 12%);
    color: #fff;
    border-radius: 6px;
    border-style: none;
    transition: 0.5s;
    height: 2.5em;
    font-size: 15px;


}
.btns button:hover{
    transform: scale(1.1);
}


/* the cards and items in it styling ends here  */


/* chart styling */

.illustration{
    display: flex;
    margin-left: 17%;
    
}
.graph{
    width: 100%;
    height: 70vh;
 
   
    
}

.graph iframe{
    width: 113%;
    
  height: 70vh;
}


.modal{
    display: none;
}


.modal h1{
   
    color: hsl(232, 71%, 12%);
    padding-bottom: 3%;
    font-size: 20px;

}
.btny button:hover{
    transform: scale(1.1);
}

.btnx{
   
    width: 300px;
    margin: 6px;
    padding: 1px;
    text-align: center;
    text-transform: capitalize;
    background-color: hsl(232, 71%, 12%);
    color: #fff;
    border-radius: 6px;
    border-style: none;
    transition: 0.5s;
    height: 3em;
    font-size: 15px;
    margin-right: 100%;
    margin-top: 5%;
    
}


.modal input,select{
    width: 80%;
    height: 2.5em;
    padding-bottom: 5%;
    text-align: center;
    font-size: 15px;
    color: rgb(20, 59, 110);
    border: 2px solid cornflowerblue;
}
.modal form{
    margin-right: 20%;
}

/* modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 105%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10%;
    margin-left: 25%; 
    padding: 1px;
    border: 1px solid #888;
    width: 60%;
    height: 14em;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

    @media only screen and (max-width:960px){
        .side-nav{
           display: none;
           width: 80%;
        }
        #ham{
            display: block;
        }
        #close{
            display: block;
        }
        .graph{
            margin: 0;
        }
        .graph iframe{
            width: 110%;
            margin: 0;
        }
        .illustration{
            padding-top: 5%;
            margin-left: 0;
            
        }
      
        .portfolio{
          margin: 0;
          padding-left: 0%;
          width: 110%;
          
        }
        .btns, .button{
            width: 100%;
        }
        .card{
            width: 150%;
        }
        .settings{
            width: 25%;
           margin-left: 0%;
           margin-top: -210%;
           height: 6em;
           background-color: white;
           
        }
       
        .row{
            flex-direction: column;
        }
        .modal{
            width: 100%;
        }
        .btnx{
            width: 200px;
            margin-left: 12%;
        }
        option{
                width: 80%;
                padding-right: 5%;
        }
        .modal-content{
            width: 100%;
            margin: 0;
            padding: 0;
            height: 23em;
        }
        .modal-content img{
            width: 10px;
        }
    }
